In [1]:
#! _*_ coding:utf-8 _*_
import tushare as ts
import pymysql
from sqlalchemy import create_engine
import time
from retry import retry
import pandas as pd

In [2]:
#connect mysql
engine = create_engine('mysql+pymysql://root:caicai520@127.0.0.1/quantist?charset=utf8')

In [4]:

@retry(tries=5,delay=2)
def save_today():
    ts.get_today_all().to_sql("today_all",engine,if_exists='append')
    print("today_all over")
save_today()

[Getting data:]

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

today_all over

In [26]:

@retry(tries=5,delay=2)
def save_index():
    ts.get_index().to_sql("index_stock",engine,if_exists='append')
    print('index....')
save_index()

index....

In [24]:
from retry import retry
@retry(tries=5,delay=2)
def save_sh():
    basic_list = ["sh","sz","hs300","sz50","zxb","cyb"]
    for basic in basic_list:
        ts.get_hist_data(basic).to_sql(basic,engine,if_exists='append')
        print(basic + " over")
save_sh()

sh over
sz over
hs300 over
sz50 over
zxb over
cyb over

In [27]:
from retry import retry
@retry(tries=5,delay=2)
def basic_information():
    ts.get_cashflow_data(2017,1).to_sql('cash_flow',engine,if_exists='append')
    ts.get_debtpaying_data(2017,1).to_sql('debtpaying',engine,if_exists='append')
    ts.get_growth_data(2017,1).to_sql('growth',engine,if_exists='append')
    ts.get_operation_data(2017,1).to_sql('operation',engine,if_exists='append')
    ts.get_profit_data(2017,1).to_sql('profit',engine,if_exists='append')
    ts.get_report_data(2017,2).to_sql('report',engine,if_exists='append')
    print('basic information over ....')
basic_information()

[Getting data:]########################################################[Getting data:]########################################################[Getting data:]#######################################################[Getting data:]########################################################[Getting data:]########################################################[Getting data:]#########################################################basic information over ....

In [11]:
s = ts.get_tick_data("603618",date="2017-01-09")#history tick
#print(s)

          time  price change  volume  amount type
0     15:00:00  12.40     --       0       0   卖盘
1     15:00:00  12.40     --       0       0   卖盘
2     14:59:54  12.40     --      25   31000   卖盘
3     14:59:51  12.40  -0.01      27   33480   买盘
4     14:59:48  12.41     --       0       0   买盘
5     14:59:45  12.41   0.02      24   29784   买盘
6     14:59:42  12.39  -0.01      16   19824   卖盘
7     14:59:39  12.40   0.01      20   24800   卖盘
8     14:59:33  12.39  -0.01      19   23541   卖盘
9     14:59:30  12.40   0.01      26   32240   卖盘
10    14:59:27  12.39  -0.01     250  309750   卖盘
11    14:59:24  12.40   0.01      99  123070   买盘
12    14:59:21  12.39     --      21   26019   卖盘
13    14:59:18  12.39     --     333  412587   卖盘
14    14:59:15  12.39  -0.01      35   43365   卖盘
15    14:59:12  12.40     --      50   62000   买盘
16    14:59:09  12.40   0.01       9   11160   买盘
17    14:59:06  12.39     --      11   13629   卖盘
18    14:59:03  12.39  -0.01       2    2478   卖盘
19    14:59:00  12.40     --      68   84320   买盘
20    14:58:54  12.40   0.01      64   79360   买盘
21    14:58:51  12.39  -0.01      35   43365   卖盘
22    14:58:45  12.40   0.01      57   70680   买盘
23    14:58:42  12.39     --      13   16107   卖盘
24    14:58:39  12.39  -0.01      10   12390   卖盘
25    14:58:36  12.40   0.01      12   14880   买盘
26    14:58:30  12.39     --      20   24780   卖盘
27    14:58:27  12.39     --      76   94164   买盘
28    14:58:24  12.39     --      50   61950   买盘
29    14:58:21  12.39   0.01      12   14868   买盘
...        ...    ...    ...     ...     ...  ...
2132  09:31:36  12.23     --       6    7338   买盘
2133  09:31:33  12.23     --      35   42805   买盘
2134  09:31:30  12.23   0.01      40   48920   买盘
2135  09:31:27  12.22  -0.03     117  142974   卖盘
2136  09:31:24  12.25   0.02      16   19600   买盘
2137  09:31:15  12.23     --      37   45251   买盘
2138  09:31:12  12.23     --      20   24460   买盘
2139  09:31:09  12.23     --       0       0   买盘
2140  09:31:06  12.23     --      26   31798   买盘
2141  09:31:03  12.23     --      20   24460   买盘
2142  09:31:00  12.23     --       9   11007   买盘
2143  09:30:57  12.23     --       0       0   买盘
2144  09:30:54  12.23   0.01      24   29352   买盘
2145  09:30:51  12.22  -0.01     107  130754   卖盘
2146  09:30:48  12.23     --      70   85610   卖盘
2147  09:30:45  12.23  -0.02      31   37913   卖盘
2148  09:30:42  12.25   0.02      56   68600  中性盘
2149  09:30:36  12.23  -0.02      87  106401   卖盘
2150  09:30:33  12.25   0.03       5    6125   买盘
2151  09:30:30  12.22     --       4    4888   卖盘
2152  09:30:27  12.22     --       3    3666   卖盘
2153  09:30:24  12.22     --       5    6110   卖盘
2154  09:30:18  12.22   0.02       5    6110   买盘
2155  09:30:15  12.20     --       5    6100   卖盘
2156  09:30:12  12.20     --      34   41480   卖盘
2157  09:30:09  12.20  -0.01      28   34160   卖盘
2158  09:30:06  12.21     --     313  382173   买盘
2159  09:30:03  12.21   0.01     142  173382   买盘
2160  09:28:50  12.20     --       0       0   买盘
2161  09:25:02  12.20   12.2     523  638060   买盘

[2162 rows x 6 columns]

In [6]:

@retry(tries=5,delay=2)
def get_today():
    today_all = ts.get_today_all()
    print(today_all[:5])
get_today()

[Getting data:]

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

#

     code  name  changepercent  trade   open   high    low  settlement  \
0  300722   N新余         44.049  12.95  11.75  12.95  11.75        8.99
1  603916  N苏博特         44.013  12.99  10.82  12.99  10.82        9.02
2  300725   N药石         43.993  16.30  13.58  16.30  13.58       11.32
3  603083   N剑桥         43.987  21.67  18.06  21.67  18.06       15.05
4  600903  贵州燃气         10.130   4.24   4.24   4.24   4.24        3.85

   volume  turnoverratio
0    4500        0.02250
1   24196        0.03184
2    2200        0.01200
3   11908        0.04867
4   15700        0.01287

In [ ]:
realtime = ts.get_realtime_quotes("603618")
realtime2 = ts.get_realtime_quotes(["sh","zs","hs300","sz50","zxb","cyb"])

In [7]:
# This is a bad idea
import pymysql
import time
db = pymysql.connect('localhost','root','caicai520','quantist')
cursor = db.cursor()
cursor.execute("select distinct code from today_all")
db.close()

from retry import retry
@retry(tries=10,delay=3)
def save_stock():
    n = 1
    for stock in cursor.fetchall()[0:3]:
        for s in stock:
            ts.get_hist_data(s).to_sql('t_'+s,engine,if_exists='append')
            print(s + 'over....' + (i+1))
            #time.sleep(2)
save_stock()

In [11]:
#tops = ['inst_detail','inst_tops','broker_tops','cap_tops','top_list']

#ts.inst_detail().to_sql('inst_detail',engine,if_exists='append')
#print('inst_detail over...')

ts.inst_tops().to_sql('inst_tops',engine,if_exists='append')
print('inst_tops over...')
ts.broker_tops().to_sql('broker_tops',engine,if_exists='append')
print('broker_tops over...')
ts.cap_tops().to_sql('cap_topss',engine,if_exists='append')
print('cap_topss over...')
#ts.top_list('2017-11-06').to_sql('top_list',engine,if_exists='append')
#print('top_list over...')

inst_detail over...
inst_tops over...
broker_tops over...
cap_topss over...

OSError: 获取失败，请检查网络和URL

In [10]:
# get news
#ts.guba_sina().to_sql('guba_sina',engine,if_exists='append')
print('guba_sina')
#ts.get_notices().to_sql('notices',engine,if_exists='append')
print('notices')
ts.get_latest_news().to_sql('latest_news',engine,if_exists='append')
print('latest_news')

guba_sina
notices

latest_news

In [9]:
sh = ts.get_hist_data('sh', start='1990-12-19',end="2017-11-08")
print(sh[:5])

               open     high    close      low      volume  price_change  \
date
2017-11-08  3409.15  3434.49  3415.46  3404.88  1854364.75          1.89
2017-11-07  3389.47  3415.15  3413.57  3387.95  1905717.50         25.40
2017-11-06  3369.69  3389.38  3388.17  3356.53  1546364.62         16.43
2017-11-03  3377.74  3380.57  3371.74  3347.36  1727147.88        -11.57
2017-11-02  3391.65  3391.65  3383.31  3372.21  1668642.62        -12.60

            p_change       ma5      ma10      ma20       v_ma5      v_ma10  \
date
2017-11-08      0.06  3394.450  3397.622  3389.991  1740447.47  1766663.15
2017-11-07      0.75  3390.540  3395.766  3388.631  1730706.77  1704357.90
2017-11-06      0.49  3386.494  3393.234  3387.103  1656559.67  1653683.66
2017-11-03     -0.34  3386.928  3392.487  3386.413  1763985.33  1629893.49
2017-11-02     -0.37  3395.942  3393.178  3385.273  1759070.10  1584351.55

                v_ma20
date
2017-11-08  1602446.40
2017-11-07  1600466.51
2017-11-06  1594892.56
2017-11-03  1613442.36
2017-11-02  1599516.18

In [11]:
# save all stock to mysql
#  open     high    close      low      volume  p_change 
#conn = pymysql.connect('localhost','root','caicai520','quantist')
#cursor = conn.cursor()
#cursor.execute("select distinct good1 from t_good limit 5")
#cursor.execute("select distinct code from today_all limit 10");
stocks = pd.read_sql_query('select distinct code from today_all', engine)
print("----------------------")
@retry(tries=10,delay=3)
def save_all_stock():
    n = 0
    open = []
    high = []
    close = []
    low =[]
    volume = []
    change = []
    for stock in stocks['code']:
        #stock = list(stock)[0]
        #print(stock)
        s = ts.get_hist_data(stock)
        print("***********************")
        #open = s['open']
        #high = s['high']
        close = s['close']
        #low = s['low']
        #volume = s['volume']
        change = s['p_change']
        #t_stock = {'open':open,'high':high,'close':close,'low':low,'volume':volume,'change':change}
        t_stock = {'close':close,'change':change}
        s_stock = pd.DataFrame(data=t_stock)
        #print("ok,,,,,,,")
        #time.sleep(5)
        s_stock.to_sql("t_"+stock,engine,if_exists='append')
        n += 1;
        print("t_"+stock + "--" + str(n))
       

save_all_stock() 
#conn.close()

----------------------
***********************

t_603659--1
***********************
t_603289--2
***********************

t_300708--3

***********************
t_300220--4

***********************

t_600807--5
***********************
t_603912--6

***********************
t_603929--7
***********************
t_002893--8

***********************
t_002908--9
***********************
t_603466--10

***********************
t_002156--11
***********************
t_002910--12

***********************
t_603559--13
***********************
t_300712--14

WARNING:retry.api:(pymysql.err.InternalError) (1170, "BLOB/TEXT column 'date' used in key specification without a key length") [SQL: 'CREATE INDEX ix_t_300706_date ON t_300706 (date)'], retrying in 3 seconds...

***********************
t_603722--15
***********************

***********************
t_603659--1
***********************
t_603289--2

***********************
t_300708--3

***********************
t_300220--4

***********************
t_600807--5

***********************
t_603912--6
***********************
t_603929--7

***********************
t_002893--8
***********************
t_002908--9

***********************
t_603466--10

***********************
t_002156--11
***********************
t_002910--12

***********************
t_603559--13
***********************
t_300712--14

***********************
t_603722--15
***********************
t_300706--16

WARNING:retry.api:(pymysql.err.InternalError) (1170, "BLOB/TEXT column 'date' used in key specification without a key length") [SQL: 'CREATE INDEX ix_t_002848_date ON t_002848 (date)'], retrying in 3 seconds...

***********************

***********************
t_603659--1
***********************
t_603289--2

***********************
t_300708--3

***********************
t_300220--4

***********************
t_600807--5
***********************
t_603912--6

***********************
t_603929--7
***********************
t_002893--8

***********************
t_002908--9
***********************
t_603466--10

***********************
t_002156--11

***********************
t_002910--12
***********************
t_603559--13

***********************
t_300712--14
***********************
t_603722--15

***********************
t_300706--16
***********************

WARNING:retry.api:(pymysql.err.InternalError) (1170, "BLOB/TEXT column 'date' used in key specification without a key length") [SQL: 'CREATE INDEX ix_t_300715_date ON t_300715 (date)'], retrying in 3 seconds...

t_002848--17
***********************

***********************
t_603659--1
***********************
t_603289--2

***********************
t_300708--3

***********************
t_300220--4

***********************
t_600807--5

***********************
t_603912--6
***********************
t_603929--7

***********************
t_002893--8
***********************
t_002908--9

***********************
t_603466--10

***********************
t_002156--11
***********************
t_002910--12

***********************
t_603559--13
***********************
t_300712--14

***********************
t_603722--15
***********************
t_300706--16

***********************
t_002848--17
***********************
t_300715--18

WARNING:retry.api:(pymysql.err.InternalError) (1170, "BLOB/TEXT column 'date' used in key specification without a key length") [SQL: 'CREATE INDEX ix_t_603260_date ON t_603260 (date)'], retrying in 3 seconds...

***********************

***********************
t_603659--1
***********************
t_603289--2

***********************
t_300708--3

***********************
t_300220--4

***********************
t_600807--5
***********************
t_603912--6

***********************
t_603929--7

***********************
t_002893--8
***********************
t_002908--9

***********************
t_603466--10

***********************
t_002156--11
***********************
t_002910--12

***********************
t_603559--13
***********************
t_300712--14

***********************
t_603722--15
***********************
t_300706--16

***********************
t_002848--17
***********************
t_300715--18

WARNING:retry.api:(pymysql.err.InternalError) (1170, "BLOB/TEXT column 'date' used in key specification without a key length") [SQL: 'CREATE INDEX ix_t_300713_date ON t_300713 (date)'], retrying in 3 seconds...

***********************
t_603260--19
***********************

***********************
t_603659--1
***********************
t_603289--2

***********************
t_300708--3

***********************
t_300220--4

***********************
t_600807--5
***********************
t_603912--6

***********************
t_603929--7
***********************
t_002893--8

***********************
t_002908--9
***********************
t_603466--10

***********************
t_002156--11

***********************
t_002910--12
***********************
t_603559--13

***********************
t_300712--14
***********************
t_603722--15

***********************
t_300706--16
***********************
t_002848--17

***********************
t_300715--18
***********************
t_603260--19

WARNING:retry.api:(pymysql.err.InternalError) (1170, "BLOB/TEXT column 'date' used in key specification without a key length") [SQL: 'CREATE INDEX ix_t_603533_date ON t_603533 (date)'], retrying in 3 seconds...

***********************
t_300713--20
***********************

***********************
t_603659--1
***********************
t_603289--2

***********************
t_300708--3

***********************
t_300220--4

***********************
t_600807--5

***********************
t_603912--6
***********************

t_603929--7
***********************
t_002893--8

***********************
t_002908--9

***********************
t_603466--10

***********************
t_002156--11
***********************
t_002910--12

***********************
t_603559--13
***********************
t_300712--14

***********************
t_603722--15
***********************
t_300706--16

***********************
t_002848--17
***********************
t_300715--18

***********************
t_603260--19

***********************
t_300713--20
***********************
t_603533--21

WARNING:retry.api:(pymysql.err.InternalError) (1170, "BLOB/TEXT column 'date' used in key specification without a key length") [SQL: 'CREATE INDEX ix_t_300474_date ON t_300474 (date)'], retrying in 3 seconds...

***********************

***********************
t_603659--1
***********************
t_603289--2

***********************
t_300708--3

***********************
t_300220--4

***********************
t_600807--5
***********************
t_603912--6

***********************
t_603929--7
***********************
t_002893--8

***********************
t_002908--9
***********************
t_603466--10

***********************
t_002156--11
***********************

t_002910--12
***********************
t_603559--13

***********************
t_300712--14
***********************
t_603722--15

***********************
t_300706--16
***********************

t_002848--17
***********************
t_300715--18

***********************
t_603260--19

***********************
t_300713--20
***********************

t_603533--21

WARNING:retry.api:(pymysql.err.InternalError) (1170, "BLOB/TEXT column 'date' used in key specification without a key length") [SQL: 'CREATE INDEX ix_t_603607_date ON t_603607 (date)'], retrying in 3 seconds...

***********************
t_300474--22
***********************

***********************
t_603659--1
***********************
t_603289--2

***********************
t_300708--3

***********************
t_300220--4

***********************
t_600807--5
***********************

t_603912--6
***********************

t_603929--7
***********************
t_002893--8

***********************
t_002908--9
***********************
t_603466--10

***********************
t_002156--11

***********************
t_002910--12
***********************
t_603559--13

***********************
t_300712--14
***********************
t_603722--15

***********************
t_300706--16
***********************

t_002848--17
***********************
t_300715--18

***********************
t_603260--19
***********************
t_300713--20

***********************
t_603533--21

***********************
t_300474--22
***********************
t_603607--23

WARNING:retry.api:(pymysql.err.InternalError) (1170, "BLOB/TEXT column 'date' used in key specification without a key length") [SQL: 'CREATE INDEX ix_t_603937_date ON t_603937 (date)'], retrying in 3 seconds...

***********************

***********************
t_603659--1
***********************
t_603289--2

***********************
t_300708--3

***********************
t_300220--4

***********************
t_600807--5
***********************
t_603912--6

***********************
t_603929--7
***********************
t_002893--8

***********************
t_002908--9
***********************
t_603466--10

***********************
t_002156--11

***********************
t_002910--12
***********************
t_603559--13

***********************
t_300712--14
***********************
t_603722--15

***********************
t_300706--16
***********************
t_002848--17

***********************
t_300715--18

***********************
t_603260--19
***********************
t_300713--20

***********************
t_603533--21

***********************
t_300474--22
***********************
t_603607--23

***********************
t_603937--24

***********************

InternalError: (pymysql.err.InternalError) (1170, "BLOB/TEXT column 'date' used in key specification without a key length") [SQL: 'CREATE INDEX ix_t_300531_date ON t_300531 (date)']

In [24]:
"""

@retry(tries=10,delay=3)
def save_all_stock():
    n = 1
    open = []
    high = []
    close = []
    low =[]
    volume = []
    change = []
    for stock in sort_data['code'][0:5]:
        print(stock)
        s = ts.get_hist_data(stock)
        print("***********************")
        open = s['open']
        high = s['high']
        close = s['close']
        low = s['low']
        volume = s['volume']
        change = s['p_change']
        t_stock = {'open':open,'high':high,'close':close,'low':low,'volume':volume,'change':change}
        s_stock = pd.DataFrame(data=t_stock)
        print("ok,,,,,,,")
        #time.sleep(2)
        s_stock.to_sql("t_"+stock,engine,flavor='mysql',if_exists='append')
        print("t_"+stock)
"""

In [ ]:
#get analysis1 to mysql
# the diffirent between conn and engine
conn = pymysql.connect('localhost','root','caicai520','quantist')
cursor = conn.cursor()

cursor.execute("select distinct code from t_good")
t_sh = ts.get_hist_data('sh')
#t_sh_change20 = t_sh['p_change'][0:30]
t_sh_change60 = t_sh['p_change'][0:60]

t = [10, 20, 60, 120, 180, 240]

@retry(tries=10,delay=3)
def get_corr_with_sh():
    
    n = 0
    code = []
    sum = []
    max = []
    time = []
    corr10 = []
    corr20 = []
    corr60 = []
    corr120 = []
    corr180 = []
    corr240 = []
    
    
    for stock in cursor.fetchall()[0:3]:
        stock = list(stock)[0]
        stock_change = ts.get_hist_data(stock)['p_change']
        s60 = stock_change[0:60]
        
        code.append(stock)
        sum.append(s60.sum())
        max.append(s60.max())
        time.append(datetime.datetime.now().strftime("%Y-%m-%d"))
        
        corr60.append(t_sh_change60.corr(s60))
        corr10.append(t_sh_change60.corr(stock_change[0:10]))
        corr20.append(t_sh_change60.corr(stock_change[0:20]))
        corr120.append(t_sh_change60.corr(stock_change[0:120]))
        corr180.append(t_sh_change60.corr(stock_change[0:180]))
        corr240.append(t_sh_change60.corr(stock_change[0:240]))
        
        n += 1
        print(stock + "--" + str(n))
        
    analysis1 = {"code":code, "sum":sum, "max":max, "time":time,"corr10":corr10
        ,"corr20":corr20,"corr120":corr120,"corr180":corr180,"corr60":corr60,
                 "corr240":corr240}
    
    t_analysis1 = pd.DataFrame(data=analysis1)
    print(analysis1)
    t_analysis1.to_sql("t_analysis1",engine,flavor='mysql',if_exists='append')
 
get_corr_with_sh() 

  
conn.close()